<!-- Displays secret number. -->
<p> The secret number is <%= cookies[:number]%> </p>

<!-- Displays guessed number.  -->
<p> Your guess is <%= @guess%> </p>

<!-- Displays value of @result based on user's guess.  -->
<%= @result%>

<!-- Displays value of @count -->
<p> Attempts <%= @count%> </p>
